RewriteEngine	On
RewriteBase	/

# RewriteRule  ^view/(.*)/(.*)$  view.php?topic=$2&web=$1  [L]
RewriteRule  ^view/(.*)$  http://jos.sourceforge.net/html/$1.html  [L]
RewriteRule  ^view/(.*)/(.*)$  http://jos.sourceforge.net/html/$2.html  [L]

